<h1>Listing games</h1>

<% @games.each do |game| %>  
  <%= render :partial => 'cube', :locals => {:game => game} %>
  <hr class="shadow" />
<% end %>

<br />

<%= link_to 'New game', new_game_path %>
