<h1>Listing games</h1>

<table>
  <tr>
  </tr>

<% @games.each do |game| %>  
  <%= render :partial => 'cube', :locals => {:game => game} %>
  <div style="clear:both"></div>
<% end %>
</table>

<br />

<%= link_to 'New game', new_game_path %>
