<h1>Listing games</h1>
<div class="gameList">
<% @games.each do |game| %>  
  <%= render :partial => 'cube', :locals => {:game => game} %>
<% end %>
</div>

<br />

<a class="create_dummy_game">new game</a>
<script type="text/javascript" charset="utf-8">
  $(".create_dummy_game").click(function() {
    $.post("/games?name=AGAME",function(data) {createCube(data);})
  });
</script>